<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Website</title>
	<link rel="stylesheet" href="/layout.css">
</head>
<body>
	
	<header>
		My website
	</header>
	
	<nav>
		<ul>
			<li><a href="/">Start</a></li>
			{{#if isLoggedIn}}
				<li><a href="/create-human">Create Human</a></li>
			{{/if}}
			<li><a href="/humans">Humans</a></li>
			<li><a href="/about">About</a></li>
			{{#if isLoggedIn}}
				<li><a href="/logout">Logout</a></li>
			{{else}}
				<li><a href="/login">Login</a></li>
			{{/if}}
		</ul>
	</nav>
	
	<main>
		{{{body}}}
	</main>
	
	<footer>Made by Peter L-G</footer>
	
</body>
</html>