<h1>Create Human</h1>
<form action="" method="POST">
	<div>
		Name: <input type="text" name="name">
	</div>
	<div>
		Age: <input type="number" name="age">
	</div>
	<input type="submit" value="Create Human">
</form>