<h1>Human</h1>
{{#if human}}
	<!-- TODO: These aren't paragraphs! -->
	<p>Name: {{human.name}}</p>
	<p>Age: {{human.age}}</p>
	<p>Id: {{human.id}}</p>
{{else}}
	<p>No human with that ID exists.</p>
{{/if}}