<h1>Humans</h1>
{{#if dbErrorOccurred}}
	<p>Can't display the page now, try again later.</p>
{{else}}
	
	{{#if humans.length}}
		<ul>
			{{#each humans}}
				<li><a href="/humans/{{id}}">{{name}}</a></li>
			{{/each}}
		</ul>
	{{else}}
		<p>There are no humans.</p>
	{{/if}}
	
{{/if}}