<h1>Update Human</h1>
{{> errors errors}}
<form method="POST">
	<div>
		<input type="text" name="name" value="{{human.name}}">
	</div>
	<div>
		<input type="number" name="age" value="{{human.age}}">
	</div>
	<input type="submit" value="Update">
</form>